<html>
<head>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title> Keest Electronics | About Us </title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="coffeee.css">

</head>
<body>
	
<section class="about" id="about">
<h1 class="heading"> about us </h1>

<div class="row">

<div class="image">
<img src="images\monitor.jpeg" alt="">
</div>

<div class="content">
<h3>About Keest Electronics</h3>
<p> Keest Electronics is an internet-based enterprise. Our stores and website offer over 5000 products and more than 200 brands with year-round promotional offers and even No Cost EMI options. Our in-store sales team makes sure to understand every customer's personal needs and budgets while assisting them to make the best choice while buying their tech.
We intend to provide 24/7 support system for best and personalized customer service.</p>


</div>
</div>
</section>
</body>
</html>